---
---

div.shell {
    width:1100px !important;
}

footer {
    background: 0px !important;
    max-width: 950px !important;
}

img {
  border: 0 !important;
  -webkit-box-shadow: 0 0 black !important;
}

span.banner-fix {
    display: none !important;
}

header {
    max-width: 950px !important;
}

@import "{{ site.theme }}";

div#no-downloads span.inner {
    display: block;
    position: relative;
    height: 197px;
    width: 1300px !important;
    background: transparent url(../images/sprite-wide.png) 0 0 no-repeat;
}

section#downloads, div#no-downloads {
    width: 1300px !important;
    background: 0px !important;
}

.myIframe {
  height: 410px !important;
}

th {
  border: 0px !important;
}
