---
---

div.shell {
    width: 1800px !important;
}

footer {
    background: 0px;
    max-width: 1700px !important;
}

img {
  border: 0 !important;
  -webkit-box-shadow: 0 0 black !important;
}

span.banner-fix {
    display: none !important;
}

header {
    max-width: 1650px !important;
}

@import "{{ site.theme }}";
