---
---

div.shell {
    width:1100px !important;
}

footer {
    background: 0px !important;
    max-width: 950px !important;
}

img {
  border: 0 !important;
  -webkit-box-shadow: 0 0 black !important;
}

span.banner-fix {
    display: none !important;
}

header {
    margin: auto !important;
    max-width: 950px !important;
}

@import "{{ site.theme }}";

div#no-downloads span.inner {
    display: block;
    position: relative;
    height: 197px;
    width: 900px !important;
    background: transparent url(../images/sprite-wide.png) 0 0 no-repeat;
}

section#downloads, div#no-downloads {
    width: 900px !important;
    background: 0px !important;
}

.myIframe {
  height: 440px !important;
}

th {
  border: 0px !important;
}

#id_926fc90c-94e0-49d4-a710-b5ae339c7110_img {
    display: none !important;
}

#img_308b6ae4-b7d3-4a25-ad90-97d51bf01e53 {
  display: none !important;
}

.sli-social-icons-element .sli-social-icons-list {
  display: none !important;
}

.sli-widget .sli-element p {
  display: none !important;
}
